// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

$body-font-family: 'Red Hat Text';
$title-font: 'Red Hat Display';

$stat-color: #a0a0a0;
$body-color: #2E2E2E;
$subtitle-color: #717171;
$fe-highlight-color: #EE0200;
$fe-modal-background-color:  rgba(0, 0, 0, 0.5);

//Main Color Palette - Blue-Grey Material Colors
$blue-grey: #607d8b;
$blue-grey-lighten-5: #ECEFF1;
$blue-grey-lighten-5-trans: rgba(236, 239, 241, .97);
$blue-grey-lighten-4: #CFD8DC;
$blue-grey-lighten-3: #B0BEC5;
$blue-grey-lighten-2: #90A4AE;
$blue-grey-lighten-1: #78909C;
$blue-grey-darken-1: #546E7A;
$blue-grey-darken-2: #455A64;
$blue-grey-darken-3: #37474F;
$blue-grey-darken-4: #263238;

a {
  text-decoration: none;
}

.v-application {
  font-family: $body-font-family, sans-serif !important;
  .title { // To pin point specific classes of some components
    font-family: $title-font, sans-serif !important;
  }
  a {
    color: $fe-highlight-color !important;
  }
}

.v-application code {
  background-color: transparent;
}

pre[class*="language-"] {
  background: $blue-grey-lighten-5;
  border-radius: 8px;
}

.filename {
  font-weight: 700;
  color: $fe-highlight-color;
}

.v-content {
  width: 100%;
  padding-top: 0.625rem;
}

.hero-image {
  max-height: 350px;
  min-height: 100px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
              0 2px 2px 0 rgba(0, 0, 0, 0.14),
              0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.fe-practices-loader {
  margin-right: 50%;
  margin-left: 50%;
  line-height: 50vh;
  color: $fe-highlight-color;
}

.fe-section-divider {
  border-color: $stat-color;
  border-width: 0.063rem;
  border-radius: 0.031rem;
}

.fe-card-stat-container {
  color: $stat-color !important;
  text-align: center;
  float: left;
  padding: 0.313rem;
  border-radius: 0.25rem;
  border: 0.063rem solid $stat-color;
  font-size: .75rem;
  margin-left: 0.125rem;
}
.fe-prev-next {
  display: flex;
  width: 80%;
  margin: auto;
}
.fe-next {
  width: 50%;
  color: $fe-highlight-color;
  margin: 10px 0 10px 0;
  text-align: right;
}

.fe-prev {
  margin: 10px 0 10px 0;
  width: 50%;
  color: $fe-highlight-color;
}

.fe-card-stat-icon {
  color: $stat-color !important;
  margin-top: -0.188rem;
}

.fe-workshop-wrap {
  height: calc(100vh - 26rem);
}

@media (max-width: 1300px) { 
  .fe-workshop-wrap {
    height: calc(100vh - 22.875rem)
  }

  .hero-image {
    max-height: 18.75rem;
  }
}

@media (max-width: 1000px) { 
  .fe-workshop-wrap {
    height: calc(100vh - 19.75rem)
  }

  .hero-image {
    max-height: 15.625rem;
  }
}

@media (max-width: 700px) { 
  .fe-workshop-wrap {
    height: calc(100vh - 16.625rem)
  }

  .hero-image {
    max-height: 12.5rem;
  }
}

@media (max-width: 500px) { 
  .fe-workshop-wrap {
    height: calc(100vh - 15.063rem)
  }

  .hero-image {
    max-height: 10.938rem;
  }
}
